<page-header></page-header>
<mat-card>
  <mat-card-title>Listar empleados</mat-card-title>
  <button (click)="redirectToRegister()" [class.mat-elevation-z1]="true" style="margin-bottom: 5px; margin-top: 10px;" color="primary" mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>

  <div>

  </div>
  <mat-paginator
  [length]="size"
  [pageSizeOptions]="[10]"
  showFirstLastButtons
  (page)="pageChanged($event)">
</mat-paginator>


<div *ngIf="loading;else table">
  <mat-spinner class="center"></mat-spinner>
</div>

<ng-template #table>
  <table mat-table [dataSource]="dataSource" style="width: 100%;">
    <ng-container matColumnDef="numeroIdentificacion">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroIdentificacion}} </td>

    </ng-container>

    <ng-container matColumnDef="primerApellido">
      <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
    </ng-container>

    <ng-container matColumnDef="segundoApellido">
      <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
    </ng-container>

    <ng-container matColumnDef="primerNombre">
      <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.primerNombre}} </td>
    </ng-container>

    <ng-container matColumnDef="otrosNombres">
      <th mat-header-cell *matHeaderCellDef> Otros Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.otrosNombres}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef >-</th>
      <td mat-cell *matCellDef="let element" >
        <button mat-icon-button (click)="editEmployee(element)">
          <mat-icon>edit</mat-icon>
          </button>
        <button mat-icon-button (click)="deleteEmployee(element)">
          <mat-icon style="color: crimson">delete</mat-icon>
          </button>

      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="['numeroIdentificacion', 'primerApellido', 'segundoApellido', 'primerNombre', 'otrosNombres', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['numeroIdentificacion', 'primerApellido', 'segundoApellido', 'primerNombre', 'otrosNombres', 'acciones'];"></tr>
  </table>
</ng-template>

</mat-card>
