<form [formGroup]="reactiveForm" (ngSubmit)="emitClickSave()"
      class="form-field-full">

  <mat-form-field class="m-t-1">
    <mat-label>Tipo Documento</mat-label>
    <mat-select required formControlName="tipoIdentificacion" required>
      <mat-option>-- None --</mat-option>

      <mat-option [value]="documentType.id" *ngFor="let documentType of documentTypes | async">
        {{documentType.nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="reactiveForm.get('tipoIdentificacion').invalid">
      El campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="m-t-2">
    <mat-label>Documento</mat-label>
    <input matInput placeholder="Ingrese el nombre del libro" formControlName="numeroIdentificacion"
           required>
    <mat-error *ngIf="reactiveForm.get('numeroIdentificacion').invalid">
      El campo es invalido
    </mat-error>
  </mat-form-field>

  <mat-form-field  class="m-t-2">
    <mat-label>Primer Nombre</mat-label>
    <input uppercase matInput placeholder="Ingrese el primer nombre" formControlName="primerNombre" required>
    <mat-error *ngIf="reactiveForm.get('primerNombre').invalid">
      El campo es invalido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="m-t-2">
    <mat-label>Otros Nombres</mat-label>
    <input uppercase matInput placeholder="Ingrese otros nombres" formControlName="otrosNombres" required>
    <mat-error *ngIf="reactiveForm.get('otrosNombres').invalid">
      El campo es invalido
    </mat-error>
  </mat-form-field>


  <mat-form-field class="m-t-2">
    <mat-label>Primer Apellido</mat-label>
    <input uppercase matInput placeholder="Ingrese el primer apellido" formControlName="primerApellido"
           required>
    <mat-error *ngIf="reactiveForm.get('primerApellido').invalid">
      El campo es invalido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="m-t-2">
    <mat-label>Segundo Apellido</mat-label>
    <input uppercase matInput placeholder="Ingrese el primer apellido" formControlName="segundoApellido"
           required>
    <mat-error *ngIf="reactiveForm.get('segundoApellido').invalid">
      El campo es invalido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="m-t-2">
    <mat-label>Pais</mat-label>
    <mat-select required formControlName="pais" required>
      <mat-option>-- None --</mat-option>

      <mat-option [value]="country.id" *ngFor="let country of countries | async">
        {{country.nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="reactiveForm.get('pais').invalid">
      El campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="m-t-2">
    <mat-label>Area</mat-label>
    <mat-select required formControlName="area" required>
      <mat-option>-- None --</mat-option>

      <mat-option [value]="area.id" *ngFor="let area of areas | async">
        {{area.nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="reactiveForm.get('area').invalid">
      El campo es requerido
    </mat-error>
  </mat-form-field>


  <mat-form-field class="m-t-2">
    <mat-label>Fecha ingreso</mat-label>
    <input matInput formControlName="fechaIngreso" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>

    <mat-form-field class="m-t-2">
      <mat-label>Fecha registro</mat-label>
      <input  matInput formControlName="fechaRegistro"
             required>
      <mat-error *ngIf="reactiveForm.get('fechaRegistro').invalid">
        El campo es invalido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="m-t-2">
      <mat-label>Fecha edicion</mat-label>
      <input  matInput formControlName="fechaEdicion"
             required>
      <mat-error *ngIf="reactiveForm.get('fechaEdicion').invalid">
        El campo es invalido
      </mat-error>
    </mat-form-field>


    <mat-form-field class="m-t-2">
      <mat-label>Correo</mat-label>
      <input  matInput formControlName="correo"
             required>
      <mat-error *ngIf="reactiveForm.get('correo').invalid">
        El campo es invalido
      </mat-error>
    </mat-form-field>

  </div>



  <mat-form-field class="m-t-2">
    <mat-label>Estado</mat-label>
    <mat-select required formControlName="estado" required>
      <mat-option>-- None --</mat-option>

      <mat-option value="activo">Activo</mat-option>
      <mat-option value="inactivo">Inactivo</mat-option>

    </mat-select>
    <mat-error *ngIf="reactiveForm.get('estado').invalid">
      El campo es requerido
    </mat-error>
  </mat-form-field>



  <div style="margin-top: 15px; display: flex; justify-content: flex-end;">
    <button mat-button (click)="emmitClickCancel()" color="warn">Cancelar</button>
    <button mat-button type="submit" cdkFocusInitial color="primary"
            style="margin-left: 5px;">Guardar</button>
  </div>

</form>
