
<page-header></page-header>
<mat-card>
  <mat-card-title>Actualizar Empleado</mat-card-title>
  <app-form-employee (eventoClick)="onClickSave($event)" (eventoCancel)="onClickCancel()" ></app-form-employee>
</mat-card>
